<!DOCTYPE html>
<html lang="en">
<head>
	<title>Decoder</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action=http://127.0.0.1:8000\fetchDevice method="GET">

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
							<button class="contact100-form-btn" type="submit">
								<span>
								Get last data from sensors
								</span>
							</button>
					</div>
				</div>
			</form>
			<form class="contact100-form validate-form" action=http://127.0.0.1:8000\send-datalog method="GET">

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
							<button class="contact100-form-btn" type="submit">
								<span>
								Update sensor state
								</span>
							</button>
					</div>
				</div>
			</form>
			<form class="contact100-form validate-form" action=http://127.0.0.1:8000\decoding method="GET">
				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
							<button class="contact100-form-btn" type="submit">
								<span>
								Decode data
								</span>
							</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>